* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cisti {
    clear: both;
}

body {
    overflow-y: scroll;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;

}

.a {

    width: 200px;
    height: 30px;
    margin-top: 70px;
    margin-left: 3%;
}

/*SLIKA TEXT*/

header {
    background: URL("images/s.jpg") no-repeat;
    height: 100vh;
    width: 100%;
    z-index: -1;

    position: relative;
    top: 0px;
    left: 0px;
    background-size: cover;
}

header h1 {
    font-size: 2.5em;
    padding:18%;
    text-align: center;
    width: 100%;
    height: 100vh;
    -webkit-box-shadow: 2px 2px 10px 2px black;
    box-shadow: 2px 2px 10px black;
    color: white;
    line-height: 1em;
    letter-spacing: 2px;
    position: absolute;
    top:0%;
    left: 0%;
    text-shadow: 3px 3px 2px black;
    background: rgba(0, 0, 0, 0.3);

    font-weight: 100;
    font-family: 'arial';
    line-height: 40px;
    /*border-bottom: 3px solid orange;
	border-top:3px solid orange;*/
}

hr {
    border: 0;
    height: 2px;

    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(orange), to(rgba(0, 0, 0, 0)));

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), orange, rgba(0, 0, 0, 0));
}


/*ABOUT PAGE*/

.omeni ankor {
    margin-bottom: 0px;
    width: 100%;
    height: 0px;

}

.omeni {
    width: 100%;
    margin: 0px auto;
    padding: 0px auto;
    margin-bottom: 50px;
}

.omeni h2 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    font-weight: 100;
    font-size: 1, 1em;
    color: #ff9933;
    font-family: 'Arial';
}

.omeni p {
    color: #606060;
    text-align: center;
    width: 100%;




    font-family: 'Pontano Sans', sans-serif;
    letter-spacing: 1px;

}

/*TELEFON*/

.tel {
    width: 20%;
    padding: 5px;
    position: fixed;
    left: 0%;
    bottom: 20px;
    z-index: 1;
    color: white;

}

.tel a {

    margin: 0% auto;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1em;
    letter-spacing: 1.5px;
    text-align: center;
    cursor: pointer;
    background: #ff9933;
    padding: 10px;
    -webkit-box-shadow: 0px 17px 10px -10px gray;
    box-shadow: 0px 17px 10px -10px #0f0f0f;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}

.tel a:hover {
    -webkit-box-shadow: 0px 37px 20px -20px gray;
    box-shadow: 0px 37px 20px -20px #000000;
    -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
}

a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.button {
    display: inline-block;
    width: 150px;
    padding: 20px;
    text-align: center;

    font-weight: bold;
    color: white;
    text-decoration: none;
    border: 1px solid #888;
}

@-webkit-keyframes pulse_animation {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    30% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    40% {
        -webkit-transform: scale(1.08);
        transform: scale(1.08);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    60% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse_animation {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    30% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    40% {
        -webkit-transform: scale(1.08);
        transform: scale(1.08);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    60% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.pulse {
    -webkit-animation-name: pulse_animation;
    animation-name: pulse_animation;
    -webkit-animation-duration: 2000ms;
    animation-duration: 2000ms;
    -webkit-transform-origin: 70% 70%;
    transform-origin: 70% 70%;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}


/*ANCHOR*/

.ankor {
    margin-bottom: 40px;
    width: 100%;
    height: 20px;
}

.vrh a {
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    padding: 20px;
    background: rgba(5, 5, 5, 0.43);
    position: fixed;
    right: 0px;
    bottom: 20px;
    text-align: center;

    display: block;
    font-size: 15px;
    z-index: 1;
}



/*LOGO U MENIJU*/

.topnav a:nth-child(6) {
    /*logo*/
    text-align: none;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 0px;
    width: 100px;
    background: white;
    float: left;

}

.topnav img {
    width: 100%
}


/*MENI*/

.nav {

    width: 100%;

}

.topnav {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.80);
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    font-family: 'Shadows Into Light', cursive;
    -webkit-box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.5);
}

.topnav img {
    height: 35px;
}

.topnav a:nth-child(2) {
    color: white;
    padding: 10px 10px;
    /*ABOUT*/
}

.topnav a {
    height: 45px;

    display: inline-block;
    color: black;

    border-right: 1px solid orange;
    text-align: justify;
    padding: 10px 30px;

    text-decoration: none;
    font-size: 17px;
    -webkit-transition: background 0.4s linear 0s, color 0.3s linear 0s;
    transition: background 0.4s linear 0s, color 0.3s linear 0s;
}

.topnav a:hover {
    background: white;
    color: orange;
}

.topnav .icon {
    display: none;
}

.about {
    background: #ff9933;

}

.topnav a:nth-child(7) {
    display: none;
}

.topnav a:nth-child(8) {
    display: none;
}

.topnav a:nth-child(9) {
    display: none;
}

.topnav a:nth-child(10) {
    display: none;
}

.topnav a:nth-child(11) {
    display: none;
}

#serach-button {
    background: #ff9933;
    border: none;
    color: white;
    padding: 5px 10px;
}

#serach-text {
    padding: 5px;
    border: none;
}

/*SADRZAJ*/

.sadrzaj {
    width: 100%;
    margin: 0px auto;
    font-size: 20px;
    line-height: 30px;
}

.row {
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ff9933;
    color: #606060;
    font-family: 'Pontano Sans', sans-serif;
}

.row1 {
    width: 45%;
    display: inline-block;
    margin: 20px auto;
    margin-left: 30px;
    -webkit-box-shadow: 5px 5px 5px 5px silver;
    box-shadow: 5px 5px 5px 5px silver;
    text-align: center;
    padding: 10px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ff9933;
    color: #606060;
    font-family: 'Pontano Sans', sans-serif;
}

.row h1 {
    font-size: 36px;
    padding-bottom: 60px;
    color: #ff9933;
    font-family: 'Shadows Into Light', cursive;
}

.row h2 {
    font-size: 36px;
    padding-bottom: 60px;
    padding-top: 50px;
    color: #ff9933;
    font-family: 'Shadows Into Light', cursive;
}

.row1 h1 {
    font-size: 36px;
    padding-bottom: 60px;
    color: #ff9933;
    font-family: 'Shadows Into Light', cursive;
}

.row1 h2 {
    font-size: 36px;
    padding-bottom: 60px;
    padding-top: 50px;
    color: #ff9933;
    font-family: 'Shadows Into Light', cursive;
}

.img img {
    width: 30%;
    margin: 0px auto;
    display: block;
}

.cisti {
    clear: both;
}



/*KONTAKT PAGE*/

.kontakt {
    width: 100%;
    height: 100vh;
    background: URL("images/s.jpg") no-repeat;
    background-size: cover;
    padding: 5%;
}

.kontakt ankor {
    margin-bottom: 0px;
    width: 100%;
    height: 0px;

}

.kontakt h2 {
    text-align: center;
    margin: 50px auto;
    font-size: 2em;
    color: #ff9933;
    font-family: 'Shadows Into Light', cursive;
}

.form-style-6 {

    max-width: 400px;

    margin: 20px auto;
    padding: 26px;
    background: rgba(0, 0, 0, 0.45);
}

.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select {

    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: rgba(0, 0, 0, 0.77);
    margin-bottom: 4%;
    border: 1px solid #ff9933;
    padding: 3%;
    color: #ff9933;

}

    {
    -webkit-box-shadow: 0 0 5px #43D1AF;
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: rgb(0, 0, 0);
    border-bottom: 2px solid #ff9933;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #ff9933;
}

.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover {
    background: purple;
    color: white;
}

/*FOOTER*/

footer {
    width: 100%;
    height: 200px;
    position: relative;
    left: 0;
    bottom: 0;
    background: black;
    margin: 0px auto;
    padding: 0px auto;
    display: block;

}

.a2a_kit {
    width: 190px;
    margin: 0px auto;
    padding: 0px auto;

}

footer a {
    display: inline-block;



    margin: 5px;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-60px);
        transform: translateY(-60px);
    }
    60% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-60px);
        transform: translateY(-60px);
    }
    60% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
}

footer a:nth-child(1) {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

footer a:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

footer a:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

footer a:nth-child(4) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.ico img {
    width: 100%;
    height: 100%;
    display: block;
}
